[submodule "C:/Users/jfrom/Source/Repos/eventlogparser"]
	path = C:/Users/jfrom/Source/Repos/eventlogparser
	url = https://github.com/Magister-Machinis/OsintParser.git
[submodule "OsintParser"]
	path = C:/Users/jfrom/Source/Repos/OsintParser
	url = https://github.com/Magister-Machinis/OsintParser.git
